name: Build Bundled Windows EXE

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Install WiX Toolset
        # jpackage uses WiX to create the actual installer package
        run: dotnet tool install --global wix

      - name: Build Fat Jar
        run: mvn package -DskipTests

      - name: Copy Fat Jar
        run: mv moqqa-1.0.0.jar target/jpackage-input/moqqa-1.0.0.jar

      - name: Build MSI Installer
        run: mvn jpackage:jpackage@win

      - name: Upload Output
        uses: actions/upload-artifact@v4
        with:
          name: windows-app-installer
          path: target/jpackage-output/*
